<h3> Book your flight! <h3>
<%=@pass_no%>
<%= form_with model: @booking, local: true do |f| %>
    <% @pass_no.times do |i| %>  
            <%= f.fields_for @new_user do |u| %>
                <h5> Passenger <%= i+1 %> </h5>
                <%= u.label :user, "Passenger name:" %>
                <%= u.text_field :user %>
                <%= u.label :email, "Email:" %>
                <%= u.email_field :email %>
        <%end%>
    <%end%>

    <%= submit_tag "Book flight"%>
<%end%>