<h1>Find your flight!</h1>

<%= render "search_form" %>

<div>
<%=form_with url: new_booking_path, method: :get do |form| %>
        <%= form.hidden_field :passengers, value: @passengers %>
        <%if @search.any? %>
            <% @search.each do |f|%>
              <p> <%= form.radio_button :choice, f.id %>  Flight <%= f.id %> from <%= f.departure_name %> to <%= f.arrival_name %> leaves on the <%= f.date.strftime("%d/%m/%Y") %> </p>
            
            <%end%>
            <%= submit_tag "Register flight!"%>
        <%else%>
            <p> No available flights.</p>
        <%end%>
<%end%>
</div>