<h1>Find your flight!</h1>

<%= render "search_form" %>

<div>
<%if @search.any? %>
    <% @search.each do |f|%>
        <p> Flight <%= f.id %> from <%= f.departure_name %> to <%= f.arrival_name %> leaves on the <%= f.date.strftime("%d/%m/%Y") %> </p>
        <%= link_to "Flight", f %>
    <%end%>
<%else%>
    <p> No result! </p>
<%end%>
</div>